<!-- search / select -->
<div class="flex">
    <input 
        type="text"
        class="search-input w-1/2 sm:w-full rounded-tl rounded-bl pl-7 focus:ring-primary-400 focus:border-primary-400"
        (keyup)="search($event)"
        value="{{ searchTerm }}"
    >
    <select
        class="w-1/2 sm:w-full rounded-tr rounded-br focus:ring-primary-400 focus:border-primary-400"
        name="selected-{{ type }}"
        id="selected-{{ type }}"
        (change)="onSelectChange($event)"
    >
        <option 
            *ngFor="let item of filteredList"
            [value]="item.name"
            [selected]="item.name === selectedItem"
        >
            {{ item.display_name }}
        </option>
    </select>
</div>